header {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.tl {
  list-style: none;
  padding: 0;
  margin: 2rem auto;
  max-width: 600px;
  position: relative;
}  /*para el que vea esto no sabe lo que tuve que investigar*/ 
/*Yo soy slenderman, y estos mis bosques 🗣️🗣️🗣️*/
/*sigue sin funcar ._.*/
  .centrado {
    text-align: center; 
  }