header {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
body {
   font-family: Arial, sans-serif;
   margin: 0;
   padding: 0;
   background-color: #f4f4f9;
}
/*para el que vea esto no sabe lo que tuve que investigar*/ 


/*Yo soy slenderman, y estos mis bosques 🗣️🗣️🗣️*/

.centrado {
    text-align: center; 
}
   
.tarjeta {    
background: white;
border-radius: 12px;
padding: 24px;
max-width: 500px;
box-shadow: 0 10px 25px rgba(0,0,0,0.1);    
text-align: center;
flex-direction: column;
} /*esto hace el diseño de la tarjeta*/

.grid-tarjetas {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 24px; 
    } /*esto hace que se puedan colocar en columnas y todo eso*/
